* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}
.header {
    position: relative;
  }
  
  /* Bottom right text */
  .h1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image  
{  
position: relative; /* To help the image + text element to get along with the rest of the page*/  
width: 100%; /* for IE 6 */  
}  
h2  
{  
position: absolute; /* To place the text on the image*/ 
top: 200px; /* The exact location of the text from the top of the image*/ 
left: 0; /* Other beautification stuff */ 
width: 100%;  
} 
/* Coloring time */ 
h2 span /* decorating the text within the span tag */ 
{  
color: white;  
font: bold 24px/45px Helvetica, Sans-Serif;  
letter-spacing: -1px;  
background: rgb(0, 0, 0); /* fallback color */  
background: rgba(0, 0, 0, 0.7); padding: 10px;  
} 
h2 span.spacer { padding:0 5px; } /* to pad the background color of text to make it look more elegant */




p  
{  
position: absolute; /* To place the text on the image*/ 
top: 375px; /* The exact location of the text from the top of the image*/ 
width: 100%;  
} 